<div class="home">
<h1 class="head">Movies</h1>
<div class="row" id="movie">
   <img src="assets\Images\hp.jpg" class="col-sm-4"id="movie-image" alt="image not found">
     <div class="col-sm-8"><h1 id="movie-head">Harry Potter</h1>    
      <div class="movie-desc"> Harry Potter is a film series based on the eponymous novels by author J. K. Rowling. The series is distributed by Warner Bros. 
       and consists of eight fantasy films, beginning with Harry Potter and the Philosopher's Stone and culminating with Harry Potter and the Deathly Hallows – Part 2
    </div>
    </div>
    </div>

    <div class="row" id="movie" >
        <img src="assets\Images\mi.jpg" class="col-sm-4"id="movie-image" alt="image not found">
          <div class="col-sm-8"><h1 id="movie-head">Mission Impossible</h1>    
           <div class="movie-desc">Mission: Impossible is a series of American action spy films both based on and a follow-on from the television series of the same name
                created by Bruce Geller. The series is mainly produced by and stars Tom Cruise, whose character is Ethan Hunt, an agent of the Impossible Missions Force
         </div>
         </div>
         </div>
</div>